@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="middle">
            <h1><b>You only have to know one thing:</b></h1>
            <p class="middleP">You can learn anything</p>
            <strong><p>For Free. For everyone. Forever</p></strong>

            <a href="#" class="btn btn-success  active">Start learning now</a><br>
            <a href="#" class="btn btn-link">Start learning now</a><br>
            <a href="#" class="btn btn-link">Start learning now</a><br>


        </div>
    </div>
</div>