
@{
    ViewBag.Title = "CreateCourse";
}

<h2 style="text-align:center">Добавление курса </h2>
<form method="post" >
    <div class="form-group">
        <label for="name"> Введите название</label>
            <input type="text" name="Name" id="name" />
       
    </div>
    
    
    <input type="submit" value="Отправить" class="btn btn-default">

</form>
